<%- include("header") -%> 

    <div class="box" id="heading"><h1><%= listtitle %></h1></div>
    <div class="box">
    
        <form method="POST" action="/delete">
        <% for(var i=0;i<newi.length;i++){ %>
            
           <div class="item"> 
              
               <input type="checkbox" value=<%=newi[i]._id%> name="checkbox" onChange="this.form.submit()">
               <p><%= newi[i].task %></li></p>
            </div>
            
        <% } %>
        <input type="hidden" name="hidden" value=<%= listtitle %> >
    </form>
        <form method="POST"  class="item" action="/"> 
            <input type="text" name="newitem" placeholder="New item" autocomplete="off">
            <button type="submit" name="button" value="<%= listtitle %>">+</button>
        </form>
</div>
   

<%- include("footer") -%> 